:root {
    --lightest: #94a4bc;
    --light: #607ea9;
    --medium: #3a5e97;
    --dark: #1f457f;
    --darkest: #051A39;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    background-color: var(--medium);
    padding: 40px;
}

h1 {
    margin-top: 15%;
    color: var(--medium);
    text-align: center;
    font-size: 10vh;
    line-height: 85%;
    font-weight: bold;
}

    .shadow-entrance {
        text-shadow: 0px 0px 0px rgba(0,0,0,0);
        -webkit-animation: shadow 1.3s ease 0.75s forwards;
        animation: shadow 1.3s ease 0.75s forwards;
    }

    @keyframes shadow {
        10% {text-shadow: 1px 1px 0px rgba(0,0,0,0.75);}
        100% {text-shadow: 4px 4px 4px rgba(0,0,0,0.75);}
    }

    @-webkit-keyframes shadow {
        10% {text-shadow: 1px 1px 0px rgba(0,0,0,0.75);}
        100% {text-shadow: 4px 4px 4px rgba(0,0,0,0.75);}
    }


#machine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap    ;
}

#practice {
    width: 85vw;
    padding: 15px 20px;
    background-color: var(--light);
    border-radius: 25px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

    .brood {
        color: var(--darkest);
    }

    #shake {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #practiceText {
        color: white;
        hyphens: auto;
        width: 100%;
        font-family: 'Oxygen Mono', monospace;
        font-size: 2.5vh;
        font-size: min(max(16px, 4vw), 22px);
        line-height: 30px;
        font-weight: lighter;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-timing-function: step-start;
        animation-timing-function: step-start;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
        -webkit-transition: color 0.1s ease;
        transition: color 0.1s ease;
    }

        #practiceText:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            display: block;
        }

        @-webkit-keyframes blink1 {30% {opacity: 0;}100% {opacity: 1;}}
        @keyframes blink1 {30% {opacity: 0;}100% {opacity: 1;}}

        @-webkit-keyframes blink2 {45% {opacity: 0;}100% {opacity: 1;}}
        @keyframes blink2 {45% {opacity: 0;}100% {opacity: 1;}}

        @-webkit-keyframes blink3 {60% {opacity: 0;}100% {opacity: 1;}}
        @keyframes blink3 {60% {opacity: 0;}100% {opacity: 1;}}

        @-webkit-keyframes blink4 {75% {opacity: 0;}100% {opacity: 1;}}
        @keyframes blink4 {75% {opacity: 0;}100% {opacity: 1;}}

        @-webkit-keyframes blink5 {90% {opacity: 0;}100% {opacity: 1;}}
        @keyframes blink5 {90% {opacity: 0;}100% {opacity: 1;}}

        @-webkit-keyframes blink6 {
            1% {opacity: 0;}
            100% {opacity: 0;}
        }

        @keyframes blink6 {
            1% {opacity: 0;}
            100% {opacity: 0;}
        }

        .done {
            text-align: center;
            color: var(--darkest);
        }

        .doneSub {
            text-align: center;
            color: var(--dark)
        }

        #sample {
            margin: 0;
        }
    

#controls {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.mobile {
    border: none;
    background-color: var(--darkest);
    color: var(--lightest);
    margin: -30px 0 0 0;
    padding: 5px;
    text-align: center;
    display: none;
}

    .fixed {
        position: fixed;
        bottom: 30%;
    }

@media (hover: none), (max-width: 500px) {
    .mobile-show {
        display: inline;
    }
}

#revButton {
    margin: -35px 0 20px 0;
    color: var(--lightest);
    font-weight: 700;
}

#selectTrack {
    display: flex;
    align-items: center;
    margin: 3px 10px 0 10px;
    background-color: var(--dark);
    width: 40px;
    height: 15px;
    border-radius: 7.5px;
}

#selectButton {
    position: absolute;
    background-color: var(--lightest);
    height: 21px;
    width: 21px;
    border-radius: 50%;
    transition: transform 0.15s ease-out;
}

.selectMove {
    transform: translateX(19px);
}

#advance {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightest);
    font-family: 'Oxygen Mono', monospace;
}

    .arrows {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        margin: 0px 10px;
        border-radius: 20px;
    }

        #levelUp {
            border-left: 20px solid var(--light);
        }

        #levelDown {
            border-right: 20px solid var(--light);
        }

#float {
    height: 22px;
    z-index: 1;
    background-color: white;
    position: absolute;
    opacity: 25%;
    transition: transform 0.15s ease-out;
}

    .float-review {
        transform: translateX(128px);
    }

.myButtons {
    min-width: 80px;
    margin: 10px;
    padding: 8px 12px;
    text-align: center;
    background-color: var(--light);
    color: var(--darkest);
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}

    .li {
        background-color: var(--lightest);
    }

    .invisible {
        visibility: hidden;
    }

#instructLink {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;    
    color: var(--lightest);
    cursor: pointer;
}

    .instructions {
        color: var(--lightest);
        text-align: justify;
        
    }

        .flex {
            display: flex;
        }
    
        .hidden {
            display: none;
        }

    


/* ************** */

.flicker-in-1 {
	-webkit-animation: flicker-in-1 linear both;
	animation: flicker-in-1 linear both;
}

.shake-horizontal {
    -webkit-animation:shake-horizontal .3s cubic-bezier(.455,.03,.515,.955) both;
    animation:shake-horizontal .3s cubic-bezier(.455,.03,.515,.955) both
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-6 20:19:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes flicker-in-1{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}@keyframes flicker-in-1{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}
 @-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
 