:root {
    --lightest: #94a4bc;
    --light: #607ea9;
    --medium: #2c4772;
    --dark: #1f457f;
    --darkest: #051A39;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    background-color: var(--medium);
}

#practice {
    width: 80vw;
    margin: 30px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    border-radius: 25px;
}

#inputText {
    background-color: var(--dark);
    border: 2px solid var(--lightest);
    line-height: 37px;
    border-radius: 10px;
    color: var(--lightest);
}

h2 {
    color: white;
    text-align: center;
    font-size: 2.5vh;
    width: 90%;
    line-height: 50px;
    display: block;
    animation-duration: 4s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes blink1 {
    30% {opacity: 0%;}
}

@keyframes blink2 {
    45% {opacity: 0%;}
}

@keyframes blink3 {
    60% {opacity: 0%;}
}

@keyframes blink4 {
    75% {opacity: 0%;}
}

@keyframes blink5 {
    90% {opacity: 0%;}
}

@keyframes blink6 {
    1% {opacity: 0;}
    100% {opacity: 0;}
}

#advance {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightest);
}

#buttons {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

button {
    background-color: var(--lightest);
    color: var(--darkest);
    font-size: large;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:focus {
    outline: none;
}

.arrows {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin: 10px;
    border-radius: 20px;
}

#levelUp {
    border-left: 20px solid var(--light);
}

#levelDown {
    border-right: 20px solid var(--light);
}

#instructLink {
    color: var(--lightest);
    display: inline;
    cursor: pointer;
}

.hidden {
    opacity: 0;
}